@import "ui-variables";

.structure-view {
  width: 100%;
  height: 100%;
  padding: 4px;
  overflow-y: auto;
  overflow-x: hidden;

  .mask {
    display: none;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,100%,.4);

    > div {
      height: 40%;
    }
  }

  .list-tree.has-collapsable-children .list-nested-item > .list-item::before {
    margin-right: 2px;
  }

  div.symbol-mixed-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
  }

  div.list-item {
    margin-left: 2.5px;
  }

  div.icon-circle {
    min-width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
  }

  div.icon-S {
    background-color: #6cc644;
  }

  div.icon-P {
    background-color: #6e5494;
  }

  div.icon-C {
    background-color: #40b4e5;
  }

  div.icon-I,
  div.icon-V {
    background-color: #fc6d26;
  }

  div.icon-F,
  div.icon-M {
    background-color: #ea4335;
  }

  div.icon-U {
    background-color: #6a737b;
  }

  div.icon-circle > span {
    font-size: 11px;
    color: white;
    font-weight: 600;
  }
}
